.item {
  display: flex;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  width: 100%;
}

.item__text {
  font-weight: bold;
  transition: 400ms;
}

.item-button {
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.item-button__delete {
  background-color: red; /* Green */
}
.item-button__edit {
  background-color: blue; /* Green */
}
.item-button__view {
  background-color: gray; /* Green */
}

.item__button:hover {
  border: 1px solid gray;
}
